<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Minion.Settings.Java" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Minion.Settings.Reader" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Minion.Settings.Shockwave" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Minion.Settings.Flash" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Minion.Settings.General" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Minion.Settings.Java" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Minion.Settings.Shockwave" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>

  <connectionStrings>
    <add name="Minion.Properties.Settings.softwareConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Resources\software.accdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="Minion.Properties.Settings.MinionConnectionString" connectionString="data source=&quot;C:\Users\jerry.cain\Documents\Visual Studio 2012\Projects\MinionWpf\MinionLibrary\Resources\Minion.sqlite&quot;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <userSettings>
    <Minion.Settings.Java>
      <setting name="uninstall_51" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217051FF} /qr</value>
      </setting>
      <setting name="uninstall_45" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217045FF} /qr</value>
      </setting>
      <setting name="uninstall_40" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217040FF} /qr</value>
      </setting>
      <setting name="uninstall_25" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217025FF} /qr</value>
      </setting>
      <setting name="uninstall_21" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217025FF} /qr</value>
      </setting>
      <setting name="uninstall_17" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217017FF} /qr</value>
      </setting>
      <setting name="uninstall_16" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217016FF} /qr</value>
      </setting>
      <setting name="uninstall_15" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217015FF} /qr</value>
      </setting>
      <setting name="uninstall_14" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217015FF} /qr</value>
      </setting>
      <setting name="uninstall_13" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217015FF} /qr</value>
      </setting>
      <setting name="uninstall_12" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217012FF} /qr</value>
      </setting>
      <setting name="uninstall_11" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217011FF} /qr</value>
      </setting>
      <setting name="uninstall_10" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217010FF} /qr</value>
      </setting>
      <setting name="uninstall_09" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217009FF} /qr</value>
      </setting>
      <setting name="uninstall_08" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217008FF} /qr</value>
      </setting>
      <setting name="uninstall_07" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217007FF} /qr</value>
      </setting>
      <setting name="uninstall_06" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217006FF} /qr</value>
      </setting>
      <setting name="uninstall_05" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /X {26A24AE4-039D-4CA4-87B4-2F83217005FF} /qr</value>
      </setting>
      <setting name="uninstall_04" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217004FF} /qr</value>
      </setting>
      <setting name="uninstall_03" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217003FF} /qr</value>
      </setting>
      <setting name="uninstall_02" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217002FF} /qr</value>
      </setting>
      <setting name="uninstall_55" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217055FF} /qr</value>
      </setting>
      <setting name="MSI_55_Location" serializeAs="String">
        <value>\\fs1\HelpDesk\PLUGINS\JAVA_55_MSI</value>
      </setting>
      <setting name="MSI_55_Argument" serializeAs="String">
        <value>-accepteula -s -i 1 -realtime msiexec /i c:\temp\JAVA_55_MSI\jre1.7.0_55.msi /qr  JAVAUPDATE=0 JU=0 AUTOUPDATECHECK=0</value>
      </setting>
      <setting name="uninstall_01" serializeAs="String">
        <value>-accepteula -i 1 -realtime -s msiexec.exe /x {26A24AE4-039D-4CA4-87B4-2F83217001FF} /qr</value>
      </setting>
      <setting name="MSI_55_Target" serializeAs="String">
        <value>\temp\JAVA_55_MSI</value>
      </setting>
    </Minion.Settings.Java>
    <Minion.Settings.Reader>
      <setting name="uninstall_APP" serializeAs="String">
        <value>-accepteula -realtime -h c:\temp\AdbeArCleaner.exe /silent /product=1</value>
      </setting>
      <setting name="install" serializeAs="String">
        <value>-accepteula -realtime -h c:\temp\AdbeRdr11006_en_US.exe /sAll /msi /norestart ALLUSERS=1 EULA_ACCEPT=YES</value>
      </setting>
      <setting name="uninstall_WMIC" serializeAs="String">
        <value>-accepteula -realtime -h wmic product where "name like 'Adobe Reader%%'" call uninstall /nointeractive</value>
      </setting>
      <setting name="Install_Location" serializeAs="String">
        <value>\\fs1\HelpDesk\PROGRAMS\Adobe_Reader\AdbeRdr11006_en_US.exe</value>
      </setting>
      <setting name="Uninstall_Location" serializeAs="String">
        <value>\\fs1\HelpDesk\PROGRAMS\Adobe_Reader\AdbeArCleaner.exe</value>
      </setting>
    </Minion.Settings.Reader>
    <Minion.Settings.Shockwave>
      <setting name="remotedir" serializeAs="String">
        <value>\temp\</value>
      </setting>
    </Minion.Settings.Shockwave>
  </userSettings>
  <applicationSettings>
    <Minion.Settings.Flash>
      <setting name="name" serializeAs="String">
        <value>Flash</value>
      </setting>
      <setting name="uninstall_APP" serializeAs="String">
        <value>-accepteula -realtime -h -c -f -csrc "\\fs1\HelpDesk\PLUGINS\Uninstallers\uninstall_flash_player.exe" uninstall_flash_player.exe -uninstall</value>
      </setting>
      <setting name="install" serializeAs="String">
        <value>-accepteula -realtime -h -c -f -csrc "\\fs1\HelpDesk\PLUGINS\install_flash_player_13_active_x.exe" install_flash_player_13_active_x.exe -install -au 2</value>
      </setting>
      <setting name="uninstall_WMIC" serializeAs="String">
        <value>-realtime wmic product where "name like 'Adobe Flash%%'" call uninstall /nointeractive</value>
      </setting>
    </Minion.Settings.Flash>
    <Minion.Settings.General>
      <setting name="remote_folder" serializeAs="String">
        <value>\temp</value>
      </setting>
      <setting name="sigcheck" serializeAs="String">
        <value>\\fs1\Helpdesk\TOOLS\3rdParty\sigcheck.exe</value>
      </setting>
    </Minion.Settings.General>
    <Minion.Settings.Java>
      <setting name="RA_Location" serializeAs="String">
        <value>\\fs1\HelpDesk\PLUGINS\Uninstallers\javara\</value>
      </setting>
      <setting name="RA_Uninstall" serializeAs="String">
        <value>-h -accepteula -dfr c:\temp\Javara\JavaRa.exe /uninstallall /silent</value>
      </setting>
      <setting name="MSI_51_Location" serializeAs="String">
        <value>\\fs1\HelpDesk\PLUGINS\JAVA_51_MSI</value>
      </setting>
      <setting name="MSI_51_Argument" serializeAs="String">
        <value>-accepteula -s -i 1 -realtime msiexec /i c:\temp\JAVA_51_MSI\jre1.7.0_51.msi /qr  JAVAUPDATE=0 JU=0 AUTOUPDATECHECK=0</value>
      </setting>
      <setting name="MSI_51_Target" serializeAs="String">
        <value>\temp\JAVA_51_MSI</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Java</value>
      </setting>
      <setting name="RA_Target" serializeAs="String">
        <value>\temp\JavaRA</value>
      </setting>
      <setting name="Install_51_Manual" serializeAs="String">
        <value>-accepteula -realtime -i 1 -s -c -f -csrc "\\fs1\HelpDesk\PLUGINS\jre-7u51-windows-i586.exe" jre-7u51-windows-i586.exe</value>
      </setting>
      <setting name="RA_Purge" serializeAs="String">
        <value>-i -h -s c:\temp\Javara\JavaRa.exe /purge</value>
      </setting>
      <setting name="uninstall_SEARCH" serializeAs="String">
        <value>-accepteula -i 1 -realtime -h wmic product where "name like 'Java%%'" call uninstall /NOINTERACTIVE</value>
      </setting>
      <setting name="MSI_45_Location" serializeAs="String">
        <value>\\fs1\HelpDesk\PLUGINS\JAVA_45_MSI</value>
      </setting>
      <setting name="MSI_40_Location" serializeAs="String">
        <value>\\fs1\HelpDesk\PLUGINS\JAVA_40_MSI</value>
      </setting>
      <setting name="Install_45_Manual" serializeAs="String">
        <value>-accepteula -realtime -i 1 -s -c -f -csrc "\\fs1\HelpDesk\PLUGINS\jre-7u45-windows-i586.exe" jre-7u45-windows-i586.exe</value>
      </setting>
      <setting name="Install_40_Manual" serializeAs="String">
        <value>-accepteula -realtime -i 1 -s -c -f -csrc "\\fs1\HelpDesk\PLUGINS\jre-7u40-windows-i586.exe" jre-7u40-windows-i586.exe</value>
      </setting>
      <setting name="MSI_45_Argument" serializeAs="String">
        <value>-accepteula -i 1 -s -realtime msiexec /i c:\temp\JAVA_45_MSI\jre1.7.0_45.msi /qr JAVAUPDATE=0 JU=0 AUTOUPDATECHECK=0</value>
      </setting>
      <setting name="MSI_40_Argument" serializeAs="String">
        <value>-accepteula -i 1 -s -realtime msiexec /i c:\temp\JAVA_40_MSI\jre1.7.0_40.msi /qr JAVAUPDATE=0 JU=0 AUTOUPDATECHECK=0</value>
      </setting>
      <setting name="MSI_45_Target" serializeAs="String">
        <value>\temp\JAVA_45_MSI</value>
      </setting>
      <setting name="MSI_40_Target" serializeAs="String">
        <value>\temp\JAVA_40_MSI</value>
      </setting>
    </Minion.Settings.Java>
    <Minion.Settings.Shockwave>
      <setting name="install_msi" serializeAs="String">
        <value>-accepteula -realtime -h msiexec /i c:\temp\sw_lic_full_installer.msi /qn</value>
      </setting>
      <setting name="uninstall_app" serializeAs="String">
        <value>-accepteula -realtime -h c:\temp\sw_uninstaller.exe /s</value>
      </setting>
      <setting name="msi_location" serializeAs="String">
        <value>\\fs1\HelpDesk\PLUGINS\sw_lic_full_installer.msi</value>
      </setting>
      <setting name="uninstaller_location" serializeAs="String">
        <value>\\fs1\HelpDesk\PLUGINS\uninstallers\sw_uninstaller.exe</value>
      </setting>
      <setting name="name" serializeAs="String">
        <value>Shockwave</value>
      </setting>
      <setting name="uninstall_WMIC" serializeAs="String">
        <value>-accepteula -realtime -h wmic product where "name like 'Adobe Shockwave%%'" call uninstall /nointeractive</value>
      </setting>
    </Minion.Settings.Shockwave>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>