<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Scrivener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NoteTaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Scrivener.Properties.Settings>
      <setting name="NoteFontSize" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="TabFontSize" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="MaHapps_Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="User_Font_Style" serializeAs="String">
        <value />
      </setting>
      <setting name="User_Font_Size" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickNotes_Visible" serializeAs="String">
        <value>Visible</value>
      </setting>
      <setting name="Role" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Minion_Visibility" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Note_WorkSpace_Visibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notespace_Test" serializeAs="String">
        <value />
      </setting>
      <setting name="Default_Note_Template" serializeAs="String">
        <value>This is the default note template which is set via the settings.</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>Dark</value>
      </setting>
      <setting name="Accent" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="Close_Warning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DashinNotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CellNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="CellProvider" serializeAs="String">
        <value />
      </setting>
      <setting name="BreakWarning" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BreakReturnWarning" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="BreakLunch" serializeAs="String">
        <value />
      </setting>
      <setting name="CellProviderDropDown" serializeAs="String">
        <value />
      </setting>
      <setting name="TxTWarning" serializeAs="String">
        <value />
      </setting>
      <setting name="BreakClockTopPosition" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BreakClockLeftPosition" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="defrsd" serializeAs="String">
        <value />
      </setting>
      <setting name="HistorySelected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="History_Date" serializeAs="String">
        <value />
      </setting>
      <setting name="UpgradeSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TabVisibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SettingsExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Closingall" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SettingsSelected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClassContentChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MCCAChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuxSiteChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuxAccountChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscBoardChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CCGridVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="CCFinalEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CCAddEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MCGridVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="MCFinalEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MCAddEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QuickARVisibility" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuxGridVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="AuxFinalEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuxAddEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccountGridVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="AccountFinalEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AccountAddEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscGridVisibility" serializeAs="String">
        <value>Collapsed</value>
      </setting>
      <setting name="DiscFinalEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DiscAddEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContextMenuOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatePickerOpen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QARExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AboutExpanded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Saveonclose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Callcount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Notenumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FocusSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FocusMinion" serializeAs="String">
        <value>False</value>
      </setting>
    </Scrivener.Properties.Settings>
    <NoteTaker.Properties.Settings>
      <setting name="NoteFontSize" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="TabFontSize" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MaHapps_Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="User_Font_Style" serializeAs="String">
        <value />
      </setting>
      <setting name="User_Font_Size" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickNotes_Visibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Role" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Minion_Visibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Note_WorkSpace_Visibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notespace_Test" serializeAs="String">
        <value />
      </setting>
      <setting name="Default_Note_Template" serializeAs="String">
        <value>This is the default note template which is set via the settings.</value>
      </setting>
    </NoteTaker.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value="d6345e26-48a3-4973-909f-c36046851b9b" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.93.0" newVersion="1.0.93.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <!--
        NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.
    -->
    <DbProviderFactories>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>