<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NoteTaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <userSettings>
    <NoteTaker.Properties.Settings>
      <setting name="NoteFontSize" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="TabFontSize" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MaHapps_Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="User_Font_Style" serializeAs="String">
        <value />
      </setting>
      <setting name="User_Font_Size" serializeAs="String">
        <value />
      </setting>
      <setting name="QuickNotes_Visibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Role" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Minion_Visibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Note_WorkSpace_Visibility" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notespace_Test" serializeAs="String">
        <value />
      </setting>
      <setting name="Default_Note_Template" serializeAs="String">
        <value>This is the default note template which is set via the settings.</value>
      </setting>
    </NoteTaker.Properties.Settings>
  </userSettings>
</configuration>